<main class="container">
  <section class="section" id="main">
    <h1 class="title animate__animated animate__zoomInDown">
      Hello, welcome to the app!
    </h1>
    <p>
      This is a
      <a
        href="http://example.com/something?type=sneakers&name=Hello Günter&sort=ascending"
        >link</a
      >.
    </p>
    <h2><strong>GIF file</strong></h2>
    <div>
      <img class="img-fluid" src="~Assets/images/picture.gif" alt="" />
    </div>
    <h2><strong>JPG file</strong></h2>
    <div>
      <img class="img-fluid" src="~Assets/images/picture.jpg" alt="" />
    </div>
    <h2><strong>PNG file</strong></h2>
    <div>
      <img class="img-fluid" src="~Assets/images/picture.png" alt="" />
    </div>
    <h2><strong>SVG file</strong></h2>
    <div>
      <img class="img-fluid" src="~Assets/images/picture.svg" alt="" />
    </div>
    <h2><strong>WEBP file</strong></h2>
    <div>
      <img class="img-fluid" src="~Assets/images/picture.webp" alt="" />
    </div>
  </section>
</main>
